.vim/bundle
.vim/plugged
.ssh.bak
.ssh/known_hosts
oh-my-zsh
tmp
.vim/undo/*
!.vim/undo/.gitkeep
backup
zsh/antigen
zsh/local.zsh
zsh/.zsh_history
.zcompdump
.zcompdump-*
.vim/.viminfo
fonts/.installed
zsh/.zshrc.zwc
.vim/pack/kite
tags
.vim/spell/
init.vim.bak
zsh/.zcompdump*
*.bak
zsh/.zplug
.aws/largefile
.aws/credentials
*.DS_Store
*:Zone.Identifiere
*.zwc
.vscode/*
zsh/cache/*
